@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Roboto:wght@300;400;500;700&family=Sofia+Sans:wght@300;400;500;600;700;800&family=Syne:wght@400;500;600;700&display=swap");

body {
  font-family: "Sofia Sans", sans-serif;
  background: #b8d4d8;
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  color: inherit;
  list-style-type: none;
}

header {
  display: flex;
  width: 100%;
  height: 91px;
  padding: 12px 120px;
  position: fixed;
  top: 0;
  justify-content: space-between;
  align-items: center;
  gap: 620px;
  flex-shrink: 0;
  background: #bdcad7;
  color: #1c1c1c;
  z-index: 1;
  box-shadow: 0px 1.2rem 3.2rem rgba(0, 0, 0, 0.1);
}

/* NAVIGATION BAR */

.allNavCon{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.mainNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 0 auto; */
  /* width: 100%; */
  gap: 50px;
}

header .logo {
  display: flex;
  color: var(--font-high-emphasis, #25282b);
  font-size: 40px;
  gap: 10px;
  font-weight: 700;
  line-height: 180%;
}

.nav-links {
  list-style: none;
  display: flex;
  font-size: 25px;
  text-align: center;
}

.nav-links li {
  display: flex;
  flex-direction: row;
  padding: 15px 0;
}
.nav-links a {
  color: var(--font-high-emphasis, #25282b);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  font-size: 25px;
  font-weight: 500;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
.nav-links a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after {
  width: 100%;
  left: 0;
}

/* MOBILE NAV BUTTON */

.btn-mobile-nav {
  cursor: pointer;
  background: none;
  border: none;
  display: none;
}

.icon-mobile-nav {
  width: 3rem;
  height: 3rem;
  color: #000000;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* HERO CONTAINER */
.heroContainer {
  display: flex;
  flex-direction: row-reverse;
  /* justify-content: space-between; */
  align-items: flex-start;
  margin-top: 140px;
  margin-bottom: 280px;
}

.heroTitle h1 {
  width: 486px;
  color: #1c1c1c;
  font-family: "Roboto", sans-serif;
  font-size: 64px;
  font-weight: 700;
}

.heroTitle p {
  width: 486px;
  color: var(--gray-3, #828282);
  font-size: 24px;
  font-weight: 400;
}


.heroContainer .heroTitle {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.nameAni {
  color: #9abede;
}
.heroContainer .ocuppation {
  color: #b87333;
  font-size: 25px;
  font-weight: 800;
}

/* SKILL SECTION */

.skillCon {
  display: flex;
  justify-content: center;
  height: 284px;
  padding: 15px 0px;
  flex-direction: column;
  align-items: center;
  gap: 44px;
  flex-shrink: 0;
  margin-bottom: 100px;
}

.skillCon h2 {
  width: 355px;
  color: rgba(28, 28, 28, 0.8);
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0.96px;
}

.skillCon .skillIcon {
  display: flex;
  align-items: center;
  gap: 54px;
}

.skillCon p {
  color: #1c1c1c;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2.166px;
  text-transform: uppercase;
}

/* PROJECT SECTION */

.projectCon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 55px;
  margin-bottom: 200px;
}

.projectCon h2 {
  color: #1c1c1c;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.96px;
}

.projectCon .project {
  display: flex;
  flex-direction: column;
  width: 661px;
  height: 636px;
  border-radius: 6px;
  background: #c2c0d6;
  gap: 10px;
}

.project img {
  align-items: center;
  margin-left: 15px;
  margin-top: 13px;
}

.project h2 {
  color: #1c1c1c;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-left: 20px;
}

.project p {
  color: #1c1c1c;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  margin-left: 156px;
  margin-right: 153px;
}

.project .projectBtn button {
  display: inline-flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  margin: 26px;
  gap: 10px;
  border-radius: 4px;
  background: #a9a9f4;
}

/* ABOUT SECTION */

.aboutMe {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 40% 30%;
  gap: 474px;
  margin-bottom: 200px;
  padding: 124px;
}

.aboutMe h2 {
  color: #1c1c1c;
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 32px;
  text-align: left;
}

.aboutMe p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 0;
  align-self: stretch;
  color: #828282;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.aboutMe img {
  margin-top: 250px;
}

.aboutCon2 {
  display: flex;
  width: 1438px;
  align-items: center;
  margin: 0 auto;
  gap: 370px;
  margin-bottom: 374px;
}
.aboutCon {
  display: flex;
  padding: 10px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 534px;
  height: 238px;
  gap: 30px;
  border-radius: 10px;
  border: 1px solid #1c1c1c;
}

.aboutCon h3 {
  color: #1c1c1c;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 500;
}

.aboutCon p {
  color: #1c1c1c;
  font-size: 24px;
  font-weight: 400;
}

/* FORM SECTION */
.formCon {
  display: flex;
  width: 657px;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 140px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.form-group {
  margin-bottom: 20px;
  gap: 58px;
}

.formCon h2 {
  font-size: 48px;
}

.formCon P {
  font-size: 20px;
}
input,
textarea,
.formBtn {
  display: flex;
  background: #b7c6c8;
  width: 447px;
  height: 47px;
  padding: 12px 15px;
  align-items: flex-start;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  height: 120px;
}

.formBtn {
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 6px;
  background: #a9a9f4;
}

.formBtn:hover .formBtn:active {
  background-color: #f1f7fd;
}

.formBtn p {
  color: #252728;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  gap: 58px;
}

/*START SOCIAL PROFILE CSS*/

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

.wrapper {
  display: flex;
  list-style: none;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877F2;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1DA1F2;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #E4405F;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #333333;
  color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background: #CD201F;
  color: #ffffff;
}

.copyright {
  text-align: center;
  margin-top: 3rem;
}
/*END SOCIAL PROFILE CSS*/

footer {
  text-align: center;
  padding: 1rem 0;
  background: #bdcad7;
  color: #1c1c1c;
  line-height: 1.5;
  width: 100%;
}

footer p {
  color: #1c1c1c;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1.2px;
}
